.nav-bar{
  
    background-color: var(--secondary-clr);
    height: 100%;
   
     position: relative;
   
    //  top:0;
    z-index: 3;
    //  min-height: 500px;
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     

}
.logo{
    // display: block;
    margin-top: 1rem;
    padding: 0 8px;
    height: 40px;
    


}
.logo>img {
  width: 100%;
  max-height: 100%;
}
    // img{
    //     display: block;
    //     margin:8px auto;
    //     width:54px;
    //     height: auto;
        
    // }
//}
nav{
    background-color: var(--secondary-clr);
     text-align: center;
    // position: absolute;
    // top: 50%;
    // height: 210px;
    width: 100%;
    // margin-top: -120px;

    a{
        font-size: 22px;
        // color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        i {
            transition: all 0.3s ease-out;
          }
         &:hover{
            color: #061148;

            svg {
                opacity: 0;
              }
            
             &:after {
                 opacity: 1;
            }  
         } 
         &:after{
            content: '';
            font-size: 9px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out
         }
         &.home-link{
            &:after{
                content: 'HOME';
            }
         }
    
    }
    a.about-link {
        &:after {
          content: 'ABOUT';
        }
      }
      a.skill-link{
        &:after {
            content: 'SKILLS';
          }
      }
    a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
  
      a.portfolio-link {
        &:after {
          content: 'PORTFOLIO';
        }
      }
      a.resume-link {
        &:after {
          content: 'RESUME';
        }
      }
  
      a.active {
        svg {
          color: var(--primary-clr);
        }
      }
      .nav-close{
       display: none;
      color: var(--primary-clr);
      }
    
}

ul {

  li {
    a {
       padding: 17px 0;
       display: block;
      font-size: 15px;
       line-height: 16px;
      color: #4d4d4e;
    }

    &:hover {
      .anchor-icon {
        color: var(--primary-clr);
        opacity: 1;
      }
    }
  }
}
.hamburger{
  &.nav-open {
      display: none;
    }
}

  
@media screen and (max-width:1024px) {
    .nav-bar{
      width: 100%;
      flex-direction: row;
      align-items: center;
      background-color: transparent;

      .logo{
        margin-left: 1.5rem;
      }
      nav {
          display: none;
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          height: calc(100vh - 70px);
          transition: all 0.3s ease-in-out;
          &.mobile-view {
              display: block;
            }
           
        }
             
        ul{
          display: none;
        }

        .hamburger{
          
          border-radius: 50%;
          display: inline-block;
          padding: .8em;
          margin-right:1.5rem;
         background-color: var(--primary-clr);
          &.nav-close{
            display: block;
            
          }
        }
      }
  
 
 }


 